/*
Acomodar los estilos con cierto tema y orden:
1. Posición
2. Caja (border, margin, padding, etc.)
3. Tipografía (family, weight, etc.)
4. Recursos visuales: sombras, redondeo de esquinas
5. Variedades 

Es bueno tener una convención de orden en nuestras reglas y propiedades
*/
:root/*Almacén de variables*/
{
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey:#BABABA;
  --off-white: #FAF8F7;
  --white: #ffffff;
}

html
{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #f7941a 100%);
  /* Parece que el primer color es el importante y el otro tiene menor relevancia. El primero se revela incluso si está al 0% de posicionamiento, mientras que el otro se expone a diferente proporción dependiendo del porcentaje. El segundo parece tener un color más sólido que el otro. Aún es muy extraño. Quizás la diferencia de porcentajes es donde se va a aplicar la difuminación, siempre que el segundo color sea el mayor.*/
}

header img
{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container
{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1/* Aunque tengamos sólo un h1, es bueno tener esta especificidad de 11 para los casos en que una librería, framework o preprocesador quiera editar nuestro elemento y queramos superponernos a eso */
{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;/*Añade relleno (padding) a cada línea, o interlineado*/
  color: var(--white)
}

.header--title-container p
{
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: var(--soft-orange);/*Sí importa la diferencia*/
}

.header--title-container .header--button
{
  position: absolute;
  left: calc(50% - 114.5px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);/*sintaxis: var(nombre),  no añadir más paréntesis*/
  /*Sombra*/
  box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
  border:none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black)
}

.header--button span
{
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-left: 18px;
  background-image: url('assets/imgs/down-arrow.svg');
  background-repeat: no-repeat;
  background-position-y: center;
}

main
{
  width:100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container
{
  width:100%;
  height:auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align:center;
}

.main-exchange-container .backgroundImg /*Las clases son sensibles a las mayúsculas*/
{
  width:200px;
  height: 200px;
  margin: 0 auto 50px;
  background-image: url('./assets/imgs/bitcoin.svg');/*Revisa bien tus URLs*/
  /*Buenas prácticas con una imagen de fondo :*/
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

.main-exchange-container--title
{
  width:90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;/*centrada*/
}

.main-exchange-container h2
{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p
{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
  /*Algunos colores pueden no ser añadidos como variables si el diseñador no quiere usarlos de nuevo*/
}

.main-currency-table, .main-commissions-table
{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  /*Figma can help determine height*/
  margin: 0 auto;
  /* Margin 0 auto sólo funciona si todas estas condiciones se cumplen: el elemento tiene display:block, position no es flotante, de ser absoluta o fija, no está alterada en eje x, y su ancho no es automático. Si no funciona aún así, hay que revisar si hay patrones de herencia funcionando */
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.main-tables-container .table--title
{
  margin-bottom: 15px;
  font-size:1.8rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.main-currency-table .currency-table--title
{
  color: var(--bitcoin-orange);
}

.table--container
{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.table--container table
{
  width: 100%;
  height: 100%;
}

.table--container td
{
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height:1.9rem;
  color:var(--grey);
  background-color: var(--white);
}

.table--container .table__top-left/*Tables are merely containers, with not much visual properties, for which we edit data (td) instead of whole tables (table) when modifying visuals */
{
  border-radius: 15px 0 0;/*instead of top-right-bottom-left, with corners we use tl, tr, br, bl. For three values, it is tl, trbl, br. For two values, tlbr, trbl*/
}

.table--container .table__top-right
{
  border-radius: 0 15px 0 0;
}

.table--container .table__bottom-left
{
  border-radius: 0 0 0 15px;
}

.table--container .table__bottom-right
{
  border-radius: 0 0 15px;
}

.table--container .table__right
{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.table--container span
{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.table--container .currency-table__decrease
{
  background-image: url('./assets/imgs/trending-down-1.png');
}

.table--container .currency-table__increase
{
  background-image: url('./assets/imgs/trending-up-1.png'); 
}

.currency-table--date, .commissions-table--date
{
  width: 190px;
  height: 31px;
  margin: 15px auto 0;
  padding: 8px;
  border-radius: 8px;
}

.currency-table--date p, .commissions-table--date p
{
  margin: 7px;
  font-size: 1.2rem;
  line-height: 1.5px;
}

.currency-table--date
{
  background-color:var(--soft-orange);
}

.main-commissions-table .commissions-table--title
{
  color: var(--secondary-blue);
}

.commissions-table--date
{
  background-color:var(--soft-blue);
}

.main-product-detail
{
  position:relative;
  width:100%;
  min-width:320px;
  height:auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.main-product-detail .product-detail--batata-logo
{
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  display: block;
  left: calc(50% - 20px);/*no olvides el espacio (" ") entre el signo y los valores para evitar problemas con la función calc*/
  /* margin: 0 auto; no sirve en este caso puesto que span es hijo de section, section es la parte negra del documento, por lo que para elevar a span a la línea entre esta sección y la anterior necesitaríamos position+top, cosa que evitaría el uso de margin 0 auto. Cambiar position+top por "margin 0 auto 10;" no serviría porque sólo crearía márgenes pero seguiría debajo de section, y valores negativos de margin-top serían desastrosos.*/
  background-image: url(./assets/imgs/batata.svg);
}

.product-detail--header
{
  width: 90%;
  min-width: 288px;
  height:auto;
  margin: 50px auto 0;
  text-align: center;
}

.product-detail--header h2
{
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}

.product-detail--header p
{
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card
{
  width: 90%; /*test around using webtools when in doubt*/
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card span
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail--card .clock
{
  background-image: url('./assets/imgs/clock-1.png');
}

.product-detail--card .eye
{
  background-image: url('./assets/imgs/eye.png');
}

.product-detail--card .dollar
{
  background-image: url('./assets/imgs/dollar-sign.png');
}

.product-detail--card .checkmark
{
  background-image: url('./assets/imgs/check-circle-.png');
}

.product--card-title
{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--white);
}
.product--card-body
{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container
{
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('./assets/imgs/bitcoinbaby-2.png');
  /* maybe keep more than a single version of the image for responsivity, but also keep in mind page loading time */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bitcoin-img-container h2
{
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: white;
  text-align: center;
}

.main-plans-container
{
  /* posición */
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  /* tipografía */
  text-align: center;
}

.plans--title
{
  /* caja */
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto 50px;
}

.plans--title h2
{
  /* caja */
  padding-top: 50px;
  /* tipografía */
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black)
}

.plans--title p
{
  /* caja */
  padding-top: 30px;
  /* tipografía */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--slider
{
  /* posición */
  display: flex;/*el tamaño se estrecha hasta abarcar todo su contenido en el sentido horizontal, mientras que no crece mucho en vertical. Esto por sí sólo es malo, pero ya lo resolveremos */
  /* caja */
  width:100%;
  height: 316px;
  /* otros */
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity; /* hace que al acercarse el deslizador del contenedor a un punto determinado este sea discreto matemáticamente, es decir, se aproxime rápido al punto y prohiba ciertos valores cercanos pero no iguales. Por ejemplo, sería como pasar de 2 a 2.5 a 3, en vez de pasar continuamente por 2.1, 2.2, 2.3, 2.4 y así.  */
}

.plans-container--card
{
  /* posición */
  position: relative;
  scroll-snap-align: center;/* provee centrado automático al hacer arrastre */
  /* caja */
  width: 70%;
  /* gap: 50px /* recuerda revisar la compatibilidad de las reglas que uses*/
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px 30px 0;
  padding: 0 15px;
  /* visual */
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended-notice
{
  /* posición */
  position: absolute;
  left: calc(50% - 60px); /* Ten en cuenta el espacio (" ", [whitespace]) interior en las funciones calc */
  top: -15px;
  /* caja */
  width: 120px;
  height: 31px;
  padding-top: 5px;
  /* tipografía */
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
  /* visual */
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
}

.plan-card--title
{
  /*caja*/
  padding-top: 30px;
  /* tipografía */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card--price
{
  /* caja */
  padding: 5px 0;
  /* tipografía */
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: black
}

.plan-card--price>span
{
  /* posición */
  position: relative;
  top: -30px;
  left: 10px;
  /* tipografía */
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
}

.plan-card--saving
{
  /* tipografía */
  font-size: 1.4rem;
  color: #757575;
  font-weight: 500;
  line-height: 1.8rem;
}

.plan-card--call-to-action
{
  /* caja */
  width: 150px; 
  height: 48px;
  margin-top: 20px;
  border-width: 2px;
  /* tipografía */
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: 'DM Sans', sans-serif;
  /* visual */
  background-color: var(--off-white);
  border-style: solid;
  border-color: var(--bitcoin-orange);
  border-radius: 4px;
}

.plan-card--call-to-action span
{
  /* posición */
  display: inline-block;
  vertical-align: text-bottom;
  /* caja */
  width: 20px;
  height: 20px;
  /* visual */
  background-image: url('./assets/imgs/arrow-right\ 1.svg');
  background-repeat: no-repeat;
}

footer
{
  /* Posición y disposición */
  display: flex;
  /* caja */
  width: 100%;
  height: 150px;
  /* visual */
  background-color: var(--bitcoin-orange);
}

footer section
{
  /* Posición y disposición */
  display: flex;
  justify-content: center;
  align-items: center;
  /* caja */
  width: 50%;
}

footer .footer--media-container ul
{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none; /*aplicar directamente sobre ul o no funciona*/
}

.footer--media-container li
{
  margin: 10px 0;
}

.footer--media-container a
{
  text-decoration: none;
  color: #FFFFFF;
}